.bs-docs-footer {
padding-top: 40px;
padding-bottom: 40px;
margin-top: 100px;
color: #777;
text-align: center;
border-top: 1px solid #e5e5e5;

}
.bs-docs-footer p {
margin-bottom: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: pointer;
  background-color: #eee;
  opacity: 1;
}

.input-group {
position: relative;
display: table;
border-collapse: separate;
padding-bottom: 10px;
}

/*menu busqueda */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
body {
/*    background: -webkit-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -moz-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -ms-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: -o-linear-gradient(90deg, #FF512F 10%, #DD2476 90%);
    background: linear-gradient(90deg, #FF512F 10%, #DD2476 90%);*/
    font-family: 'Open Sans', sans-serif!important;
}
.well{
background-image: linear-gradient(to bottom,#6EA7FF 0,#CAD0CD 100%);
    border-radius:0!important;
    border:none!important;
}

.well.login-box {
    width:300px;
    margin:0 auto;
   
}
.well.login-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.login-box label {
  font-weight:300;
  font-size:16px;
  
}
.well.login-box  {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.well.welcome-text{
    font-size:21px;
}

.notification-success{
  background-color:#3D9970;
}



/*Loged in*/
.logged-in{
  display:none;
}
.logged-in h1{
  margin:0;
  font-weight:300;
}