.navbar{
  background: rgba(0, 0, 0, 0.62);
}
.bs-docs-footer {
padding-top: 40px;
padding-bottom: 40px;
margin-top: 100px;
color: #777;
text-align: center;
/*border-top: 1px solid #e5e5e5;*/

}
.bs-docs-footer p {
margin-bottom: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: pointer;
  background-color: #eee;
  opacity: 1;
}

.input-group {
position: relative;
display: table;
border-collapse: separate;

padding-bottom: 10px;
}

/*menu busqueda */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
#menuBusqueda {
  background-image: url('../imagenes/beach_01.jpg');
  background-size: cover; 
    font-family: 'Open Sans', sans-serif!important;
}

#fondoLight {
  background-image: url('../imagenes/beach_01_light.jpg');
  background-size: cover; 
    font-family: 'Open Sans', sans-serif!important;
}
.well{
 
  background: linear-gradient(to bottom,rgba(20, 99, 221, 0.64) 0,rgba(202, 208, 205, 0.85) 100%);
    border-radius:0!important;
    border:none!important;
}


.well.login-box {
    width:300px;
    padding-bottom: 35px;

    margin:0 auto;
   
}
.well.login-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.login-box label {
  font-weight:300;
  font-size:16px;
  
}
.well.login-box  {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.well.welcome-text{
    font-size:21px;
}

.notification-success{
  background-color:#3D9970;
}

/*Loged in*/
.logged-in{
  display:none;
}
.logged-in h1{
  margin:0;
  font-weight:300;
}
/* crear cliente */

#the-basics{
  padding-bottom: 20px;
}
.well.create-box {
    width:400px;
    padding-bottom: 35px;

    margin:0 auto;
   
}
.well.create-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.create-box label {
  font-weight:300;
  font-size:16px;
  
}
.well.create-box  {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}
/*created in*/
.created-in{
  display:none;
}
.created-in h1{
  margin:0;
  font-weight:300;
}

/*cargar pago tarjeta*/

.well.pago-box {
    width:400px;
    padding-bottom: 35px;

    margin:0 auto;
   
}
.well.pago-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.pago-box label {
  font-weight:300;
  font-size:16px;
  
}
.well.pago-box  {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}
/*pagod in*/
.pagod-in{
  display:none;
}
.pagod-in h1{
  margin:0;
  font-weight:300;
}

/*logo tarjeta*/
.tarjetaLogo{
  width: 100px;
  height: 60px;
}
.radioButton{ /* HIDE RADIO */
  display:none;
}
.radioButton + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.radioButton:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

/*check plano*/
.table td {
   text-align: center;   
}

/* datos reserva*/
.sinpadding{
   padding-right: 0px;
    padding-left: 0px;
}